<div class="container content-margin-top content-flex">
    <div class="row">
        <form method="post">
            <div class="input-field">
                <input id="name" type="text" class="validate" name="name" required pattern="[a-zA-Z][a-zA-Z0-9\s]*">
                <label for="name">Название этапа</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>