<div class="container content-margin-top content-flex">
    <div class="row">
        <form method="post">
            <div class="input-field">
                <input id="name" type="text" class="validate" name="name" required pattern="[a-zA-Z][a-zA-Z0-9\s]*">
                <label for="name">Название турнира</label>
            </div>

            <div class="input-field">
                <input id="time" type="text" class="validate" value="7" name="countPlayersOnField" required pattern="[0-9]*">
                <label for="time">Колличество игроков на поле от команды</label>
            </div>

            <div class="input-field">
                <input id="time" type="text" class="validate" value="16" name="countPlayersInTeam" required pattern="[0-9]*">
                <label for="time">Колличество заявленных игроков в команде</label>
            </div>

            <div class="input-field">
                <input id="time" type="text" class="validate" value="25" name="timePeriod" required pattern="[0-9]*">
                <label for="time">Длительность периода [мин]</label>
            </div>

            <div class="input-field">
                <input id="countPeriods" type="text" value="2" class="validate" name="countPeriods" required pattern="[0-9]*">
                <label for="countPeriods">Количество периодов</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>