<div class="container content-margin-top content-flex">
    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" name="name" required pattern="[a-zA-Z][a-zA-Z0-9\s]*">
                    <label for="name">Имя федерации</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="city" type="text" class="validate" name="city" required pattern="[a-zA-Z][a-zA-Z0-9\s]*">
                    <label for="city">Город</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
