Страница федерации {{name}}

<div class="row">
<a class="waves-effect waves-light btn" href="/tournament/create/?federation={{name}}">Создать турнир</a>
</div>

<div class="collection">
    {{#each tournaments}}
        <a href="#!" class="collection-item">{{name}}</a>
    {{/each}}
</div>

