Страница федерации {{name}}

<div class="row">
<a class="waves-effect waves-light btn" href="/tournament/create/?federation={{name}}">Создать турнир</a>
</div>
<ol>
    {{#each tournaments}}
        <li>{{name}}</li>
    {{/each}}
</ol>