<link href="/css/http-response.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div class="nav-search fullscreen">
    <h2 class="http-response">{{code}}</h2>
    <h5 class="http-response">{{message}}</h5>
</div>