<div class="container content-margin-top content-flex js-content-place">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
{{#section 'jquery'}}
    {{#if user}}
        <script src="/js/bundle.js"></script>
    {{/if}}
{{/section}}
