<div class="container content-margin-top content-flex">
    <div class="row center">
        Страница турнира {{tournament.name}}
    </div>
    <div class="row center">
        Тип турнира: {{tournament.type}}
    </div>
    <div class="row">
        <div class="tournament-list_header">
            Список команд:
        </div>
        <div class="collection">
            {{#each teams}}
                <a href="/team/{{_id}}" class="collection-item">{{name}}</a>
            {{/each}}
        </div>
    </div>
</div>
