<link href="/css/http-response.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div class="nav-search fullscreen">
    <h5 class="http-response">{{default message "Вы не авторизованы"}}</h5>
</div>