<div class="container content-margin-top">


    <ul class="collection with-header">
        <li class="collection-header center"><h5>Пользователи</h5></li>

        {{#each users}}
            <li class="collection-item"><div>{{name}}
                <a href="/account/{{_id}}" class="secondary-content"><i class="material-icons">send</i></a>
            </div></li>
        {{else}}
            Вы не состоите в федерациях :(
        {{/each}}
    </ul>


</div>