/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.nav-search{
    margin-top: -64px;
    padding-top: calc(7% + 64px);
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-image {
    height: 48px;
    vertical-align: middle;
}

.header-position{
    position: relative;
}
.header_item__margin{
    margin-bottom: 50px;
}

.search_item_margin{
    margin-bottom: 15px;
}


.fullscreen {
    height: 100%;
}

.ui-autocomplete {
    max-height: 129.9px;
    overflow: auto;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    border-radius: 0px;
}

.ui-menu-item {
    border: 1px solid #e0e0e0;
}

.ui-helper-hidden-accessible {
    position: absolute;
}

.vertical-align-middle {
    vertical-align: middle!important;
}

.ui-helper-hidden-accessible {
    display: none;
}

.content-margin-top {
    margin-top: 30px;
}

.list_header {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.config-tournament {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-search-padding {
    margin-top: -64px;
}

.nav-search-background {
    /* background: url(http://img.wallpaperfolder.com/f/78FCA4876497/brazuca-football.jpg);
    background-size: 100%; */
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-flex {
    flex: 1 0 auto;
}

.http-response {
    vertical-align: middle;
    text-align: center;
}

footer {
  flex: 0 0 auto;
}

.chat-padding{
    padding: 15px;
}

.vk-chat{
    border-radius: 4px;
}

.sortable-chosen{
    color: red;
}

.match-teams-section{
    min-height: 20px;
    border-color: #00acc1;
}

.federation-search{
    position: relative;
    right: 20px;
}

.federation-search-input::-webkit-input-placeholder{
    color: white;
}
/*
.federation-search-input:focus::-webkit-input-placeholder{
    color: grey;
}
*/

body{
    background: #f6f4f1;
}

.card-padding {
    padding: 20px !important;
}

.custom-footer {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.left-menu-padding{
    padding-top: 10px;
}

.width-fullscreen{
    width: 100%;
}

.padding-enabled{
    padding: 0px !important;
}

.tournament_card-title {
    text-shadow: 3px -3px 6px black;
}

.card-indent {
    margin: 10px;
}
/*full height = 64px*/
.search {
    height: 44px !important;
    margin-top: 10px !important;
    border-radius: 100px !important;
    background: #558b2f !important;
}

.search:focus {
    background: white !important;
    margin-right: 20px;
    transition: margin .25s ease;
}

.search::-webkit-input-placeholder {
    color: white !important;
}
.search::-moz-placeholder {
    color: white !important;
}

.search_icon__margin {
    margin-top: -10px;
}

.vk-color{
    background: #4f7aa0 !important;
}

.row .col.s2-5 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s9-5 {
    width: 80%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.create__padding {
    padding: 20px !important;
}

.create_button__margin {
    margin-right: 10.5px;
}

.preloader{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
    width: 100px !important;
    height: 100px !important;
}

.left-menu-padding_card {
    margin: 0px;
}

.interesting-mathes {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.interesting-mathes_tournament__padding {
    padding-left: 40px;
}

.interesting-mathes_mathes__padding {
    padding-left: 40px;
}